.vscode
.vscode-test
.gitignore
.git
node_modules
src/
esbuild.js
tsconfig.json
.husky/
*.vsix
CONTRIBUTING.md
RELEASING.md
.DS_Store
.github/
marketing/
out/
.versionrc.json
.eslintrc.json
.prettierrc
package-lock.json

